name: Build & PR to develop and main

on:
  push:
    branches-ignore:
      - main  # Ignora pushes para a branch main

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DB_USER: ${{ secrets.DB_USER }}
      DB_PASS: ${{ secrets.DB_PASS }}
      DB_URL: ${{ secrets.DB_URL }}

    steps:
      # Baixa o c贸digo do reposit贸rio
      - name: Checkout c贸digo
        uses: actions/checkout@v3

      # Configura o JDK (Temurin para Java 21)
      - name: Setup Java 21 com Temurin
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      # Realiza o build com Maven
      - name: Build com Maven
        run: mvn clean install --no-transfer-progress

  # Cria PR para a branch develop
  create-pr-develop:
    runs-on: ubuntu-latest
    needs: build  # S贸 roda depois que o job de build passar

    steps:
      # Baixa o c贸digo do reposit贸rio
      - name: Checkout c贸digo
        uses: actions/checkout@v3

      # Cria o PR automaticamente para a branch develop
      - name: Criar PR automaticamente para develop
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: 'build: auto-pr to develop'
          title: 'Auto PR para develop da branch ${{ github.ref_name }}'
          base: develop
          branch: ${{ github.ref_name }}
          body: |
             Este Pull Request foi criado automaticamente a partir do push na branch **${{ github.ref_name }}**.

  # Cria PR para a branch main (ap贸s a aprova莽茫o na develop)
  create-pr-main:
    runs-on: ubuntu-latest
    needs: create-pr-develop  # S贸 roda depois que o PR para develop for criado
    if: success()  # S贸 cria o PR para main se o build na develop passar

    steps:
      # Baixa o c贸digo do reposit贸rio
      - name: Checkout c贸digo
        uses: actions/checkout@v3

      # Cria o PR automaticamente para a branch main
      - name: Criar PR automaticamente para main
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: 'build: auto-pr to main'
          title: 'Auto PR para main da branch ${{ github.ref_name }}'
          base: main
          branch: develop  # Vai pegar a branch develop para PR
          body: |
             Este Pull Request foi criado automaticamente ap贸s a aprova莽茫o do PR para develop da branch **${{ github.ref_name }}**.

